@import './base.css';

:root {
  --green: #7eb4a5;
  --black: #1e1e1e;
  --grey: #484848;
  --white: #efefef;
  --orange: #ec6608;
  --brown: #ba8570;
  --beige: #ebdcd6;
  --red: #ff0000;
}


@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url('/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Italic';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url('/fonts/Roboto/Roboto-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Light';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url('/fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--black);
  font-family: 'Roboto';
}

#navigation-buttons {
  position: relative;

}

.content {
  height: 80vh;
}

/* FONTS */
.font-italic {
  font-family: "Roboto Italic";
}

.font-light {
  font-family: "Roboto Light";
}

.font-extra-large {
  font-size: 2rem;
}

.font-large {
  font-size: 1.5rem;
}

.font-medium {
  font-size: 1rem;
}

.font-small {
  font-size: 0.7rem;
}

/* REGIONS */
#header {
  height: 20vh;
}

@media(max-width:767px) {
  #header {
    height: 15vh;
  }
}

#content {
  height: 70vh;
}

@media(max-width:767px) {
  #content {
    height: 75vh;
  }
}

#footer {
  height: 10vh;
}




/* LESSONS */
.lesson {
  height: 65vh;
}

.lesson-header {
  padding: 3rem 3rem 1rem 3rem;
}

.lesson-text {
  padding: 1rem 3rem 1rem 3rem;
  overflow-y: scroll;
  position: relative;
}

.text-box {
  border-radius: 15px 0px 0px 15px;
}

.image-box {
  border-radius: 0px 15px 15px 0px;
}

.lesson-tabs {
  color: var(--green) !important;
}

.lesson-tab-item-link {
  color: var(--white) !important;
  border: solid 1px var(--green) !important;
}

.active-tab {
  background-color: var(--green) !important;
}

@media(max-width:992px) {
  .lesson {
    height: 63vh;
  }
  .text-box {
    border-radius: 0px 0px 15px 15px;
    height: 100%;
  }
  .image-box {
    border-radius: 0px 0px 15px 15px;
    height: 100%;
  }
}

@media(max-width:767px) {
  .lesson-header {
    padding: 1rem 1rem 1rem 1rem;
  }
  .lesson-text {
    padding: 1rem 1rem 1rem 1rem;
  }
}

/* TUTORIALS */
.tutorial {
  height: 65vh;
}

@media(max-width:992px) {
  .tutorial {
    height: 63vh;
  }
}

.tutorial-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.tutorial-title {
  padding: 0 3rem 0 3rem;
}

.tutorial-navigation {
  cursor: pointer;
}

.button-secondary {
  background-color: var(--white) !important;
  border-color: var(--black) !important;
  color: var(--black) !important;
  display: flex !important;
  justify-content: center !important;
}

.button-outline-secondary {
  border-color: var(--white) !important;
  color: var(--white) !important;
  display: flex !important;
  justify-content: center !important;
}

.pulse-animation {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 1s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

.tutorial-button {
  position: relative;
  display: inline-block;
  overflow: hidden;
  padding: 1rem !important;
}

.tutorial-button span {
  top: 0;
  position: absolute;
  width: 100%;
  height: calc(100% + 1rem);
  background: linear-gradient(90deg, transparent, rgba(200, 200, 200, 0.3), transparent);
  transform: translateX(-100%);
  animation: shine 1.5s infinite ease-out;
}

@keyframes shine {
  to {
    transform: translateX(100%);
  }
}

.instruction-text {
  height: 90%;
  width: 100%;
  text-align: center;
  overflow-y: scroll;
}

/* TUTORIALS - HTW DRESDEN - EMPLOYER */
.htw-website, .employer-website {
  height: 65vh;
  overflow-y: scroll;
}

.employer-button {
  background-color: var(--brown) !important;
  border-color: var(--brown) !important;
  color: var(--white) !important;
}

.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  border-radius: 5px;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
}

.htw-breadcrumb {
  background-color: #E8EDF1;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.htw-breadcrumb ol{
  margin: 0;
}

.htw-button {
  background-color: var(--orange) !important;
  border-color: var(--orange) !important;
  color: var(--white) !important;
}

/* ROLES */
.roles {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.role-text {
  text-align: center;
}

.role-image-container {
  display: flex;
  align-items: center;
  flex: 1;
  overflow: hidden;
}

.role-image {
  max-width: 100%;
  max-height: 100%;
}


/* VERIFIABLE CREDENTIAL SCREEN */
.vc-card {
  border: solid 2px var(--green);
  padding: 1rem;
  text-align: center;
  border-radius: 5px;
}

/* WALLET SCREEN */
.wallet-icons {
  display: flex;
  flex-direction: row;
}

.wallet-icon > * {
  width: 70px;
  border-radius: 5px;
  text-align: center;
}

/* FOCUS */
.focus {
  height: 8rem;
  border: solid 2px var(--green);
  border-radius: 15px;
  cursor: pointer;
}

.focus-image {
  border-radius: 10px;
  height: 100%;
}

.active-focus {
  background-color: var(--green);
}

/* HEIGHT */
.h-10 {
  height: 10%;
}

.h-20 {
  height: 20%;
}

.h-80 {
  height: 80%;
}

.h-90 {
  height: 90%;
}


/* COLORS */
.bg-color-secondary {
  background-color: var(--grey);
}

.bg-color-third {
  background-color: var(--white);
}

.bg-color-brown {
  background-color: var(--brown);
}

.bg-color-beige {
  background-color: var(--beige);
}

/* BUTTONS */
.button-primary {
  background-color: var(--green) !important;
  border-color: var(--green) !important;
  color: var(--white) !important;
}

.button-outline-primary {
  border-color: var(--green) !important;
  color: var(--green) !important;
}

.navigation-button {
  width: 60px !important;
}

/* TEXTS */
.text-light {
  color: var(--white) !important;
}

.text-orange {
  color: var(--orange) !important;
}

.text-green {
  color: var(--green) !important;
}

.text-brown {
  color: var(--brown) !important;
}

.text-white {
  color: var(--white) !important;
}

.text-red {
  color: var(--red) !important;
}