@import './base.css';


@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  unicode-range: U+000-5FF;
  src: url("/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}


#app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1e1e1e;
  font-family: "Roboto";
}

#main {
  
}

/* COLORS */
.bg-color-secondary {
  background-color: #484848;
}

.bg-color-third {
  background-color: #efefef;
}

/* BUTTONS */
.btn-primary {
  background-color: #7EB4A5 !important;
  border-color: #7EB4A5 !important ;
}

/* TEXTS */
.text-light {
  color: #ededed !important;
}